
.max-width{
    max-width:1110px;
    margin:0 auto;
}

.absolute-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cur-po{
cursor: pointer;
}

.collection-title{
    font-size: 30px;
    color:var(--heading-text);
    font-weight: 600;
    margin-bottom: 32px;
}